@font-face {
    font-family: 'icarcons';
    src: url('fonts/icarcons.eot?a2jci2');
    src: url('fonts/icarcons.eot?a2jci2#iefix') format('embedded-opentype'),
         url('fonts/icarcons.ttf?a2jci2') format('truetype'),
         url('fonts/icarcons.woff?a2jci2') format('woff'),
         url('fonts/icarcons.svg?a2jci2#icarcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icarcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--car-lorry:before {
    content: "\e007";
}
.icon--car-bus:before {
    content: "\e001";
}
.icon--car-cab-chassis:before {
    content: "\e002";
}
.icon--car-cabriolet:before {
    content: "\e003";
}
.icon--car-gran-coupe:before {
    content: "\e004";
}
.icon--car-gullwing:before {
    content: "\e005";
}
.icon--car-roadster:before {
    content: "\e006";
}
.icon--square-o:before {
    content: "\e903";
}
.icon--print:before {
    content: "\e901";
}
.icon--paint-brush:before {
    content: "\e902";
}
.icon--question-circle:before {
    content: "\e900";
}
.icon--coins:before {
    content: "\e800";
}
.icon--target:before {
    content: "\e801";
}
.icon--globe:before {
    content: "\e802";
}
.icon--video-camera:before {
    content: "\e803";
}
.icon--trash-bin:before {
    content: "\e804";
}
.icon--wechat:before {
    content: "\e806";
}
.icon--whatsapp:before {
    content: "\e807";
}
.icon--youtube:before {
    content: "\e808";
}
.icon--star-half-alt:before {
    content: "\e809";
}
.icon--transmission:before {
    content: "\e80a";
}
.icon--star-empty:before {
    content: "\e80b";
}
.icon--star:before {
    content: "\e80c";
}
.icon--heart-empty:before {
    content: "\e80d";
}
.icon--heart:before {
    content: "\e80e";
}
.icon--lock-open-alt:before {
    content: "\e80f";
}
.icon--lock:before {
    content: "\e810";
}
.icon--cog:before {
    content: "\e811";
}
.icon--key:before {
    content: "\e812";
}
.icon--kereta-murah:before {
    content: "\e813";
}
.icon--shield:before {
    content: "\e814";
}
.icon--chart-line:before {
    content: "\e815";
}
.icon--chart-bar:before {
    content: "\e816";
}
.icon--chart-area:before {
    content: "\e817";
}
.icon--chart-pie:before {
    content: "\e818";
}
.icon--car-seats:before {
    content: "\e819";
}
.icon--meters:before {
    content: "\e81a";
}
.icon--steering-wheel:before {
    content: "\e81b";
}
.icon--car-side-front:before {
    content: "\e81c";
}
.icon--car-front:before {
    content: "\e81d";
}
.icon--two-cars:before {
    content: "\e805";
}
.icon--car-front-side:before {
    content: "\e81e";
}
.icon--car-simple-right:before {
    content: "\e81f";
}
.icon--car-side-back:before {
    content: "\e820";
}
.icon--car-back:before {
    content: "\e821";
}
.icon--car-back-side:before {
    content: "\e822";
}
.icon--car-simple-left:before {
    content: "\e823";
}
.icon--car-top:before {
    content: "\e824";
}
.icon--tire:before {
    content: "\e825";
}
.icon--view:before {
    content: "\e827";
}
.icon--quote-left:before {
    content: "\e828";
}
.icon--list:before {
    content: "\e829";
}
.icon--align-justify:before {
    content: "\e82a";
}
.icon--quote-right:before {
    content: "\e82b";
}
.icon--fire:before {
    content: "\e82c";
}
.icon--car-suv:before {
    content: "\e82e";
}
.icon--car-sedan:before {
    content: "\e82f";
}
.icon--car-pickup-truck:before {
    content: "\e830";
}
.icon--car-wagon:before {
    content: "\e831";
}
.icon--car-coupe:before {
    content: "\e832";
}
.icon--car-hatchback:before {
    content: "\e833";
}
.icon--car-convertible:before {
    content: "\e834";
}
.icon--car-mpv:before {
    content: "\e835";
}
.icon--money:before {
    content: "\e836";
}
.icon--wrong:before {
    content: "\e837";
}
.icon--correct:before {
    content: "\e838";
}
.icon--down-dir:before {
    content: "\e839";
}
.icon--up-dir:before {
    content: "\e83a";
}
.icon--left-dir:before {
    content: "\e83b";
}
.icon--right-dir:before {
    content: "\e83c";
}
.icon--paper-plane:before {
    content: "\e83d";
}
.icon--suitcase:before {
    content: "\e83e";
}
.icon--instagram:before {
    content: "\e83f";
}
.icon--pause:before {
    content: "\e840";
}
.icon--stop:before {
    content: "\e841";
}
.icon--play:before {
    content: "\e842";
}
.icon--meter:before {
    content: "\e843";
}
.icon--minus:before {
    content: "\e844";
}
.icon--plus:before {
    content: "\e845";
}
.icon--gear:before {
    content: "\e846";
}
.icon--magnify-plus:before {
    content: "\e847";
}
.icon--magnify-minus:before {
    content: "\e848";
}
.icon--magnifier:before {
    content: "\e849";
}
.icon--left-bold:before {
    content: "\e84a";
}
.icon--flag:before {
    content: "\e84b";
}
.icon--messages:before {
    content: "\e84c";
}
.icon--petrol:before {
    content: "\e84d";
}
.icon--bank:before {
    content: "\e84e";
}
.icon--facebook:before {
    content: "\e84f";
}
.icon--thumb-down:before {
    content: "\e850";
}
.icon--thumb-up:before {
    content: "\e851";
}
.icon--user:before {
    content: "\e852";
}
.icon--user-formal:before {
    content: "\e853";
}
.icon--user-female:before {
    content: "\e854";
}
.icon--user-plus:before {
    content: "\e855";
}
.icon--users:before {
    content: "\e856";
}
.icon--camera:before {
    content: "\e857";
}
.icon--euro:before {
    content: "\e858";
}
.icon--news:before {
    content: "\e859";
}
.icon--floppy-disk:before {
    content: "\e85a";
}
.icon--search-car:before {
    content: "\e85b";
}
.icon--car-seat:before {
    content: "\e85c";
}
.icon--arrow-back:before {
    content: "\e85d";
}
.icon--move-right:before {
    content: "\e85e";
}
.icon--book-side:before {
    content: "\e85f";
}
.icon--bag:before {
    content: "\e860";
}
.icon--trolly:before {
    content: "\e861";
}
.icon--home:before {
    content: "\e862";
}
.icon--badge:before {
    content: "\e863";
}
.icon--note:before {
    content: "\e864";
}
.icon--location:before {
    content: "\e866";
}
.icon--film:before {
    content: "\e867";
}
.icon--wrench:before {
    content: "\e868";
}
.icon--refresh:before {
    content: "\e869";
}
.icon--clock-backwards:before {
    content: "\e86a";
}
.icon--contact:before {
    content: "\e86b";
}
.icon--calculator:before {
    content: "\e86c";
}
.icon--comment:before {
    content: "\e86d";
}
.icon--chat:before {
    content: "\e86e";
}
.icon--motorcycle:before {
    content: "\e86f";
}
.icon--bicycle:before {
    content: "\e870";
}
.icon--subway:before {
    content: "\e871";
}
.icon--flight:before {
    content: "\e872";
}
.icon--megaphone:before {
    content: "\e873";
}
.icon--gplus:before {
    content: "\e874";
}
.icon--pinterest:before {
    content: "\e875";
}
.icon--tumblr:before {
    content: "\e876";
}
.icon--linkedin:before {
    content: "\e877";
}
.icon--twitter:before {
    content: "\e878";
}
.icon--vimeo:before {
    content: "\e879";
}
.icon--skype:before {
    content: "\e87a";
}
.icon--paypal:before {
    content: "\e87b";
}
.icon--dropbox:before {
    content: "\e87c";
}
.icon--evernote:before {
    content: "\e87d";
}
.icon--alert:before {
    content: "\e87e";
}
.icon--attention:before {
    content: "\e87f";
}
.icon--tags:before {
    content: "\e880";
}
.icon--attention-alt:before {
    content: "\e881";
}
.icon--beaker:before {
    content: "\e882";
}
.icon--filter:before {
    content: "\e883";
}
.icon--book:before {
    content: "\e884";
}
.icon--clock:before {
    content: "\e885";
}
.icon--sliders:before {
    content: "\e886";
}
.icon--right-bold:before {
    content: "\e887";
}
.icon--switch-off:before {
    content: "\e88c";
}
.icon--road:before {
    content: "\e88d";
}
.icon--calendar:before {
    content: "\e88e";
}
.icon--up-open:before {
    content: "\e88f";
}
.icon--right-open:before {
    content: "\e890";
}
.icon--left-open:before {
    content: "\e891";
}
.icon--down-open:before {
    content: "\e892";
}
.icon--up-bold:before {
    content: "\e893";
}
.icon--down-bold:before {
    content: "\e826";
}
.icon--pound:before {
    content: "\e894";
}
.icon--dollar:before {
    content: "\e895";
}
.icon--rupee:before {
    content: "\e896";
}
.icon--yen:before {
    content: "\e897";
}
.icon--rouble:before {
    content: "\e898";
}
.icon--hourglas:before {
    content: "\e899";
}
.icon--menu:before {
    content: "\e89b";
}
.icon--correct-circle:before {
    content: "\e89c";
}
.icon--wrong-circle:before {
    content: "\e89d";
}
.icon--plus-square:before {
    content: "\e89e";
}
.icon--minus-circle:before {
    content: "\e89f";
}
.icon--top-circle:before {
    content: "\e8a0";
}
.icon--compare-car:before {
    content: "\e8a1";
}
.icon--compare:before {
    content: "\e8a2";
}
.icon--sort:before {
    content: "\e8a3";
}
.icon--share:before {
    content: "\e8a4";
}
.icon--message:before {
    content: "\e8a5";
}
.icon--call:before {
    content: "\e8a6";
}
